Repository jenkinsci/schedule-build-plugin, pull requests merged in 2024-02, with the labels that each got.

#302 Remove spotbugs version declaration
  pom.xml
Labels: chore, dependencies

#299 [JENKINS-47876] fix url of jobs in subfolder of views
  src/main/resources/org/jenkinsci/plugins/schedulebuild/ScheduleBuildButtonColumn/column.jelly
Labels: bug

#300 remove inline javascript
  src/main/java/org/jenkinsci/plugins/schedulebuild/ScheduleBuildAction.java
  src/main/resources/org/jenkinsci/plugins/schedulebuild/ScheduleBuildAction/index.jelly
  src/main/resources/org/jenkinsci/plugins/schedulebuild/ScheduleBuildAction/redirect.jelly
  src/main/webapp/scheduleBuild.js
  src/main/webapp/scheduleRequest.js
Labels: chore
