Repository jenkinsci/schedule-build-plugin, pull requests merged in 2024-10, with the labels that each got.

#361 Use scm.connection consistent with archetype
  pom.xml
Labels: chore, dependencies

#362 require Jenkins 2.479 or newer
  pom.xml
  src/main/java/org/jenkinsci/plugins/schedulebuild/ScheduleBuildAction.java
  src/main/java/org/jenkinsci/plugins/schedulebuild/ScheduleBuildButtonColumn.java
Labels: rfe

#365 Convert a test from JUnit 4 to JUnit 5
  src/test/java/org/jenkinsci/plugins/schedulebuild/ScheduleBuildActionTest.java
Labels: tests

#368 Require Jenkins 2.479.1 or newer
  pom.xml
Labels: chore
