Repository jenkinsci/schedule-build-plugin, pull requests merged in 2024-03, with the labels that each got.

#305 Require Jenkins 2.426.3 or newer
  pom.xml
Labels: chore, dependencies

#301 [JENKINS-72653] fix timezone handling
  README.md
  docs/images/Schedule_Build_Queue.png
  docs/images/Schedule_Page.png
  docs/images/Schedule_Timezone.png
  src/main/java/org/jenkinsci/plugins/schedulebuild/ScheduleBuildAction.java
  src/main/java/org/jenkinsci/plugins/schedulebuild/ScheduleBuildGlobalConfiguration.java
  src/main/resources/org/jenkinsci/plugins/schedulebuild/ScheduleBuildAction/index.jelly
  src/main/resources/org/jenkinsci/plugins/schedulebuild/ScheduleBuildGlobalConfiguration/config.jelly
  src/main/resources/org/jenkinsci/plugins/schedulebuild/ScheduleBuildGlobalConfiguration/help-defaultStartTime.html
  src/main/resources/org/jenkinsci/plugins/schedulebuild/ScheduleBuildGlobalConfiguration/help-timeZone.html
  src/main/webapp/help/help-date.html
  src/test/java/org/jenkinsci/plugins/schedulebuild/JCasCGlobalNewFieldsTest.java
  src/test/java/org/jenkinsci/plugins/schedulebuild/JCasCGlobalOldFieldsTest.java
  src/test/java/org/jenkinsci/plugins/schedulebuild/ScheduleBuildActionTest.java
  src/test/java/org/jenkinsci/plugins/schedulebuild/ScheduleBuildGlobalConfigurationTest.java
  src/test/resources/org/jenkinsci/plugins/schedulebuild/scheduleBuild-new-fields.yaml
  src/test/resources/org/jenkinsci/plugins/schedulebuild/scheduleBuild-old-fields.yaml
Labels: documentation, bug, tests

#310 [JENKINS-67313][JENKINS-72931] Do not show the schedule build action in incorrect locations
  src/main/java/org/jenkinsci/plugins/schedulebuild/ScheduleBuildButtonColumn.java
  src/main/java/org/jenkinsci/plugins/schedulebuild/ScheduleBuildTransientProjectActionFactory.java
  src/main/resources/org/jenkinsci/plugins/schedulebuild/ScheduleBuildButtonColumn/column.jelly
Labels: bug
